<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
	 	<file>/app/interface/application/apis/apilogs/trent-shipment-orders-api.log</file> 
	<!-- 	<file>apilogs/${finalName}.log</file> -->
		<encoder>
			<pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/app/interface/application/apis/apilogs/trent-shipment-orders-api_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>10</maxHistory>
			<totalSizeCap>300MB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
</configuration>